@import "tailwindcss";
body{
    background-color: #264653;
    color: white;
}
#quote-box {
    background-color: #2a9d8f;
}
p{
    animation: fade 0.2s;
}
#new-quote,a{
    padding: 10px;
    border: 1px #264653 solid;
    border-radius: 10px;
    cursor: pointer;
}

#new-quote:hover,a:hover{
    transition: ease-in 0.2s;
    background-color: #264653;
    color: aliceblue;
}

